flaskenv/
blueprints/health/__pycache__
__pycache__
db/__pycache__
.env
blueprints/movies/__pycache__
blueprints/actors/__pycache__
blueprints/genre/__pycache__
blueprints/movie_actor/__pycache__
blueprints/movie_directors/__pycache__
blueprints/movie_genre/__pycache__